/* Normal, standard links. */
a:link, a:visited
{
	color: #fb3030;
	text-decoration: none;
}
a:hover
{
	color: #ffffff;
	text-decoration: underline;
}

/* Navigation links - for the link tree. */
.nav, .nav:link, .nav:visited
{
	color: #fb3030;
	text-decoration: none;
}
a.nav:hover
{
	font-weight: bold;
	color: #ffffff;
	text-decoration: underline;
}

/* Tables should show empty cells. */
table
{
	empty-cells: show;
}

/* By default (td, body..) use Tahoma in black. */
body, td
{
	color: #ffffff;
	font-size: small;
	font-family: Tahoma, arial, helvetica, serif;
}

/* The main body of the entire forum. */
body
{
	background-color: #340f0f;
	margin: 0px;
	padding: 0px;
}

/* Input boxes - just a bit smaller than normal so they align well. */
input, textarea, button
{
	font-size: 9pt;
	background-color: #000000;
	color: #ffffff;
	font-family: Tahoma, arial, helvetica, serif;
}

/* All input elements that are checkboxes or radio buttons. */
input.check
{
}

/* Selects are a bit smaller, because it makes them look even better 8). */
select
{
	font-size: 8pt;
	font-weight: normal;
	background-color: #000000;
	color: #ffffff;
	font-family: Tahoma, arial, helvetica, serif;
}

/* Standard horizontal rule.. ([hr], etc.) */
hr, .hrcolor
{
	height: 1px;
	border: 0;
	color: #ffffff;
	background-color: #000000;
}

/* A quote, perhaps from another post. */
.quote
{
	color: #ffffff;
	background-color: #6a3c3c;
	border: 1px solid #000000;
	margin: 1px;
	padding: 1px;
	font-size: x-small;
}

/* A code block - maybe even PHP ;). */
.code
{
	color: #ffffff;
	background-color: #6a3c3c;
	border: 1px solid #000000;
	padding: 1px;
	font-family: "courier new", helvetica, "times new roman", serif;
	font-size: x-small;
	width: 99%;
	margin: 1px auto 1px auto;
	white-space: nowrap;
	overflow: auto;
}

/* The "Quote:" and "Code:" header parts... */
.quoteheader, .codeheader
{
	color: #ffffff;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	font-size: x-small;
}

/* Generally, those [?] icons.  This makes your cursor a help icon. */
.help
{
	cursor: help;
}

/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction
{
	color: red;
}

/* The main post box - this makes it as wide as possible. */
.editor
{
	width: 96%;
}

/* Highlighted text - such as search results ;). */
.highlight
{
	background-color: yellow;
	font-weight: bold;
	color: #ffffff;
}

/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg
{
	color: #ffffff;
	background-color: #711e1e;
}
.windowbg2
{
	color: #ffffff;
	background-color: #551313;
}

/* All the signatures used in the forum.  If your forum users use Mozilla, Opera, or Safari, you might add max-height here ;). */
.signature
{
}

/* These are used primarily for titles, but also for headers (the row that says what everything in the table is.) */
.titlebg, tr.titlebg td, .titlebg a:link, .titlebg a:visited
{
	color: white;
	font-style: normal;
	background-color: #551313;
}
.titlebg a:hover
{
	color: #dfdfdf;
}

/* This is used for categories, page indexes, and several other areas in the forum. */
.catbg
{
	background-image: url(images/catbg.gif);
}

/* This is used for a category that has new posts in it... to make it light up. */
.catbg2
{
}

.catbg, .catbg2
{
	font-weight: bold;
	background-color: #000000;
	color: #ffffff;
}

/* This is used for tables that have a grid/border background color (such as the topic listing.) */
.bordercolor
{
	background-color: #000000;
}

/* This is used on tables that should just have a border around them. */
.tborder
{
	border: 1px solid #000000;
	background-color: #000000;
	padding: 0;
}

/* Default font sizes: small (8pt), normal (10pt), and large (14pt). */
.smalltext
{
	font-size: x-small;
	font-family: Tahoma, arial, helvetica, serif;
}
.normaltext
{
	font-size: small;
}
.largetext
{
	font-size: large;
}

/* This is the white header area where the title, menu bars, and header boxes are. */
#headerarea
{
	background-color: #380606;
	border-bottom: 1px solid #000000;
}
/* This is the main area of the forum, the part that's gray. */
#bodyarea
{
	background-color: #340f0f;
}
/* And this is the bottom, where the copyright is, etc. */
#footerarea
{
	color: black;
	background-color: #380606;
	border-top: 1px solid #000000;
}

/* This is for the special header boxes on the top (user info, key stats, news box.) */
.headertitles
{
	background-color: #340f0f;
	border: 1px solid #000000;
}
.headerbodies
{
	border: 1px solid #000000;
	background-color: #551313;
	background-repeat: repeat-x;
	background-position: bottom;
}